.aboutUs {
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.title {
color: cyan;
display: flex;
font-size: 150%;
}