.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: black;
    justify-content: space-between;
    position: sticky;
}

.headerTitle {
    display: flex;
    align-items: center;
    color: cyan;
    font-size: 330%;

}

.headerNavLinks {
    display: flex;
    align-items: center;
    color: cyan;
    font-size: 130%;
}

.headerNavLinks p {
    padding: 5px;
}

.link {
    color:cyan;
}