.header {
    display: flex;
    flex-direction: row;
    height: 100px;
    background-color: black;
    position: sticky;
    font-family: 'Rampart One', cursive;
    /* justify-content: space-between; */
    justify-content: center;
}

.headerTitle {
    display: flex;
    align-items: center;
    color: cyan;
    font-size: 330%;
    align-items: left;
}

.headerNavLinks {
    display: flex;
    align-items: flex-end; 
    color: cyan;
    font-size: 130%;
}

.headerNavLinks p {
    padding: 5px;
}

.link {
    color:cyan;
}

img {
    height: 100px;
    width: auto;
}
.icon {
    margin-left: 14%;
    margin-right: 32.5%;
}