.homePage {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 244, 200);
}

.leftHalf {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
   
}

.rightHalf {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: space-evenly;
    
    
}

.logIn {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 620px;
    height: 310px;
    align-items: center;
    background-color: rgb(137, 170, 231);

    
}

.logInHeader {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: x-large;
    background-color: cornflowerblue;
    width: inherit
    
}

.logInHeader p {
    display: flex;
    align-self: center;
}

.logInInfo :link {
    display: flex;
    align-self: center;
    
}

.logInInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    font-size: x-large;
    
}

.logInButton {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}

.submitButton {
    display: flex;
    border: 1px black solid;
    border-radius: 5%;
    width: 160px;
    height: 55px;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

.quizButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.quizButtons button {
    height: 125px;
    width: 350px;
    background-color: rgb(137, 170, 231);

}