.homePage {
    display: flex;
    height: 100vh;
}

.leftHalf {
    display: flex;
    height: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.rightHalf {
    display: flex;
    height: auto;
    width: 50%;
    justify-content: space-evenly;
    
}

.logIn {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 620px;
    height: 310px;
    align-items: center;
}

.logInHeader {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: x-large;
    
}

.logInInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    font-size: x-large;
}

.logInButton {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}

.submitButton {
    display: flex;
    border: 1px black solid;
    border-radius: 5%;
    width: 160px;
    height: 55px;
    justify-content: center;
    align-items: center;
}

.quizButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.quizButtons button {
    height: 125px;
    width: 350px;
}