@keyframes gradient {
    0% {
      background-position: 0% 40%;
    }
    50% {
      background-position: 100% 40%;
    }
    100% {
      background-position: 0% 40%;
    }
  }

@keyframes button-hover {
    0% {
        color: cyan;
        border-color: cyan;
    }
    50% {
        color: rgb(218, 45, 218);
        border-color: rgb(218, 45, 218);
    }
    100% {
        color: cyan;
        border-color: cyan;
    }
}


.homePage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background: rgb(3,122,144);
    background: linear-gradient(45deg, rgba(3,122,144,1) 20%, rgba(0,194,186,1) 41%, rgba(255,143,207,1) 60%, rgba(206,150,251,1) 80%);
    background-size: 150% 150%;
    background-position: center;
    animation: gradient 12s ease infinite;
}

.logIn {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    background-color: black;
    height: 120%;
    width:150%;
    color:rgba(255,143,207,1);
    font-size: 125%;
    border-radius: 15%;
    opacity: .8;
}

.logInHeader {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.logIn p {
    font-size: 300%;
    /* display: flex; */
    background: linear-gradient(45deg, rgba(3,122,144,1) 20%, rgba(0,194,186,1) 41%, rgba(255,143,207,1) 60%, rgba(206,150,251,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 12s ease infinite;
    background-size: 150% 150%;
    font-family: 'Rampart One', cursive;
    margin: 0rem;
}

.logInInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: left;
    align-items: center;
}

.logInInfo label {
    display: flex;
    flex-direction: column;
    margin: 20px
}

.link {
    color: cyan;
}

.logInButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.submitButton {
    background-color: rgb(18, 83, 223);
    color:cyan;
    height: 55px;
    width: 100px;
    margin-bottom: 20px;
    border-radius: 25px;
    font-size: large;
}

.submitButton:hover {
    background: rgba(2,0,36,1);
    color:cyan;
    height: 55px;
    width: 100px;
    margin-bottom: 20px;
    border: cyan 3px solid;
    animation: button-hover 5s infinite;
}