@keyframes gradient {
    0% {
        background-position: 0% 40%;
      }
      50% {
        background-position: 100% 40%;
      }
      100% {
        background-position: 0% 40%;
      }
}

@keyframes button-hover {
    0% {
        color: cyan;
        border-color: cyan;
    }
    50% {
        color: magenta;
        border-color: magenta;
    }
    100% {
        color: cyan;
        border-color: cyan;
    }
}


.quizPage {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: rgb(3,122,144);
    background: linear-gradient(45deg, rgba(3,122,144,1) 20%, rgba(0,194,186,1) 41%, rgba(255,143,207,1) 60%, rgba(206,150,251,1) 80%);
    animation: gradient 12s ease infinite;
    background-position: center;
    background-size: 150% 150%;
}

.left {
    height: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.choiceButton {
    cursor: pointer;
    height: 120px;
    width: 500px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 96%, rgba(255,253,253,1) 99%, rgba(2,0,36,1) 100%);
    color: cyan;
    font-size: 175%;
    border: none;
    box-shadow: 0 10px rgb(7, 7, 112);

}

.choiceButton:hover {
    cursor: pointer;
    height: 120px;
    width: 500px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 96%, rgba(255,253,253,1) 99%, rgba(2,0,36,1) 100%);
    color: cyan;
    font-size: 175%;
    border: none;
    box-shadow: 0 10px rgb(7, 7, 112);

}
.choiceButton:active {
    cursor: pointer;
    height: 120px;
    width: 500px;
    background-color: rgb(137, 170, 231);
    transform: translateY(6px);
    box-shadow: 0 6px darkblue;
}


.right {
    height: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.question {
    display: inline-flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    border: rgb(104, 103, 103) 3px solid;
    min-height: 520px;
    min-width: 430px;
    background-color: black;
    color: cyan;
    font-size: 140%;
    border-radius: 3%;
    justify-items: center;
}

.questionList {
    display: inline-flex;
    flex-wrap: wrap;
    word-wrap: break-word;
   justify-self: center;
}