.quizPage {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left {
    height: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.choiceButton {
    height: 120px;
    width: 500px;
}

.middle {
    height: 100%;
    flex-grow: 1;
}

.right {
    height: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.question {
    border: 1px solid black;
    height: 500px;
}