@keyframes zoom-in-out {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 180%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes button-hover {
    0% {
        color: cyan;
        border-color: cyan;
    }
    50% {
        color: magenta;
        border-color: magenta;
    }
    100% {
        color: cyan;
        border-color: cyan;
    }
}


.quizPage {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(2,0,36,1) 67%);
    animation: zoom-in-out 5s infinite;
    background-position: center;
}

.left {
    height: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.choiceButton {
    cursor: pointer;
    height: 120px;
    width: 500px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 96%, rgba(255,253,253,1) 99%, rgba(2,0,36,1) 100%);
    color: cyan;
    font-size: 175%;
    border: none;
    box-shadow: 0 10px rgb(7, 7, 112);

}

.choiceButton:hover {
    cursor: pointer;
    height: 120px;
    width: 500px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 96%, rgba(255,253,253,1) 99%, rgba(2,0,36,1) 100%);
    color: cyan;
    font-size: 175%;
    border: none;
    box-shadow: 0 10px rgb(7, 7, 112);

}
.choiceButton:active {
    cursor: pointer;
    height: 120px;
    width: 500px;
    background-color: rgb(137, 170, 231);
    transform: translateY(6px);
    box-shadow: 0 6px darkblue;
}

.middle {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.submitButton {
    cursor: pointer;
    border-radius: 50%;
    outline: cornflowerblue;
    height: 200px;
    width: 200px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 96%, rgba(2,0,36,1) 100%);
    color: cyan;
    font-size: 175%;
    box-shadow: 0 9px rgb(26, 34, 75);
}

.submitButton:hover {
    cursor: pointer;
    border-radius: 50%;
    outline: cornflowerblue;
    height: 200px;
    width: 200px;
    background-color: rgb(56, 123, 248);
    box-shadow: 0 9px rgb(26, 34, 75);
    animation: button-hover 5s infinite;

}

.submitButton:active {
    background: linear-gradient(90deg, rgba(2,0,36,1) 96%,  rgba(2,0,36,1) 100%);

    box-shadow: 0 5px black;
    transform: translateY(6px);
}

.right {
    height: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.question {
    border: 1px solid black;
    height: 500px;
    width:400px;
    background-color: black;
    color: cyan;
    font-size: 140%;
    
}