.SignUpPage {
  display: grid;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 244, 200);
}

.SignUp {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px black solid;
  border-radius: 10px;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: rgb(137, 170, 231);
  padding-bottom: 1rem;
}

.Avatars {
  justify-content: space-evenly;
  padding-right: 20px;
}

.SignUpHeader {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: x-large;
}

.SignUpInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  font-size: x-large;
}

.SignUpInfo input {
  margin-bottom: 15px;
}

.SignUpButton {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}

.submitButton {
  display: flex;
  border: 1px black solid;
  border-radius: 5%;
  width: 160px;
  height: 55px;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  cursor: pointer;
}

.noBorder {
  border: solid 2px transparent;
}

.withBorder {
  border: solid 2px black;
}

.footer {
  flex: 0 0 auto;
  max-width: 67.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  padding-top: 4rem;
}