.SignUpPage {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 244, 200);
}

.SignUp {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  width: 620px;
  height: 310px;
  align-items: center;
  background-color: rgb(137, 170, 231);
}

.SignUpHeader {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: x-large;
}

.SignUpInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  font-size: x-large;
}

.SignUpInfo input {
  margin-bottom: 15px;
}

.SignUpButton {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}

.submitButton {
  display: flex;
  border: 1px black solid;
  border-radius: 5%;
  width: 160px;
  height: 55px;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  cursor: pointer;
}