.radioButton{
  visibility: hidden;
}

.label {
  cursor: pointer;
}
.img {
  border: 1px black solid;
  border-radius: 10px;
  width: 100px;
  height: auto;
}

.img:hover {
  box-shadow:5px 5px 5px 5px gray;
}

h4 {
  display: flex;
  justify-content: center;
  font-family:fantasy;
  font-style: italic;
}